.h2{
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: var(--neutral-very-dark-desaturated-blue);
}

.title-testimonial {
    font-family: "Fraunces", serif;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--neutral-grayish-blue);
}
@media only screen and (min-width: 770px){
    .h2{
        text-align: start;
    }
}
